.container
{
	width:200px;
	height:auto;
text-align:center;
margin:0 auto;

}
.body1
{
	width:200px;
	height:auto;
text-align:center;
margin:0 auto;	
}

.submit1
{
text-align:center;
margin:0 auto;	
}